name: Build Framework

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  framework:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: 生成 JRMemory.framework
        run: |
          set -e

          FRAMEWORK=JRMemory.framework
          BIN=JRMemory
          HEADER=MemScan.h

          mkdir -p build/${FRAMEWORK}/Headers
          mkdir -p build/${FRAMEWORK}/Modules

          cp ${BIN} build/${FRAMEWORK}/${BIN}
          cp ${HEADER} build/${FRAMEWORK}/Headers/
          cp Info.plist build/${FRAMEWORK}/

          ls -R build/${FRAMEWORK}

      - name: 打包 framework
        run: |
          cd build
          zip -r JRMemory.framework.zip JRMemory.framework

      - name: 上传
        uses: actions/upload-artifact@v4
        with:
          name: JRMemory-framework
          path: build/JRMemory.framework.zip
